* {
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Nova Flat", sans-serif;
    background: -webkit-linear-gradient(45deg, #cc0000, darkorange), -webkit-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
    background: -moz-linear-gradient(45deg, #cc0000, darkorange), -moz-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
    background: -o-linear-gradient(45deg, #cc0000, darkorange), -o-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
    background: linear-gradient(45deg, #cc0000, darkorange), linear-gradient(90deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
    overflow: hidden;
}
