<section class="discussions">
    <div class="discussion search">
        <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search..." />
        </div>
    </div>

    <div class="discussion-background">
        <div class="discussion message-active">
            <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
                <div class="online"></div>
            </div>
            <div class="desc-contact">
                <p class="name">Megan Leib</p>
                <p class="message">9 pm at the bar if possible 😳</p>
            </div>
            <div class="timer">12 sec</div>
        </div>
    </div>

    <div class="discussion-background">
        <div class="discussion">
            <div class="photo" style="background-image: url(http://e0.365dm.com/16/08/16-9/20/theirry-henry-sky-sports-pundit_3766131.jpg?20161212144602);">
                <div class="online"></div>
            </div>
            <div class="desc-contact">
                <p class="name">Dave Corlew</p>
                <p class="message">Let's meet for a coffee or something today ?</p>
            </div>
            <div class="timer">3 min</div>
        </div>
    </div>

    <div class="discussion-background">
        <div class="discussion">
            <div class="photo" style="background-image: url(https://tinyclipart.com/resource/man/man-5.jpg);">
            </div>
            <div class="desc-contact">
                <p class="name">Jerome Seiber</p>
                <p class="message">I've sent you the annual report</p>
            </div>
            <div class="timer">42 min</div>
        </div>
    </div>

</section>