@page "/resetpassword"
@inject IResetPasswordVm ViewModel


<style>

    .validation-message {
        text-align: left;
        padding-left: 25px;
    }

    .alert-danger {
        text-align: left;
        color: #ff172d;
        background-color: #141519;
        border: none;
        padding-left: 40px;
        margin-bottom: 0 !important;
    }

    .panel .login-input {
        margin-top: 10px;
        background-color: #22232a;
        -webkit-border-radius: 45px;
        -moz-border-radius: 45px;
        border-radius: 45px;
        font-size: 15px;
        height: 45px;
        border: none;
        padding-left: 15px;
        width:330px;
        margin-bottom: 10px;
    }

        .panel .login-input[placeholder] {
            color: #656d79;
            font-size: 15px;
            font-weight: 500;
        }
</style>

<div class="panel">
    <div class="state">
        <br /><br />
        <h2>Verified!</h2>
        <h2>Now You Can Set</h2>
        <h2>Your New Password</h2>
    </div>
    <br><br />

    <DisplayNotification Notification="ViewModel.Notification" />

    <EditForm Model="ViewModel" OnValidSubmit="HandleResetPassword">
        <FluentValidator></FluentValidator>

        <ValidationMessage For="@(() => ViewModel.Password)" />
        <InputText @bind-Value="ViewModel.Password" placeholder="Password" class="login-input" type="password" />

        <ValidationMessage For="@(() => ViewModel.ConfirmPassword)" />
        <InputText @bind-Value="ViewModel.ConfirmPassword" placeholder="Confirm Password" class="login-input" type="password" />

        <button class="login">Send Code</button>

    </EditForm>


</div>

@code{


    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected async Task HandleResetPassword()
    {
        await ViewModel.HandleResetPassword(ViewModel.Password);
    }


}